[submodule "voxel-io"]
	path = voxelio
	url = https://github.com/Eisenwave/voxel-io.git
[submodule "args"]
	path = tayweeargs
	url = https://github.com/Taywee/args.git
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
